<div id="gallery" class="slides">
</div>

<script type="javascript/template" id="gallery_index">
  {{#models}}
  <div class="photo">
    <img src="{{attributes.images.low_resolution.url}}" alt="{{id}}" />
  </div>
  {{/models}}
</script>
